@{
    ViewData["Title"] = "Notifications";
}

<h2>🔔 Notification Center</h2>

<div class="card">

    
    <div class="card-header bg-danger text-white">

        Recent Alerts

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th>Time</th>
                <th>Alert</th>
                <th>Priority</th>
            </tr>

            <tr>
                <td>12:40 PM</td>
                <td>Ambulance Detected on Murree Road</td>
                <td>HIGH</td>
            </tr>

            <tr>
                <td>12:20 PM</td>
                <td>VIP Convoy Activated</td>
                <td>HIGH</td>
            </tr>

            <tr>
                <td>11:55 AM</td>
                <td>Traffic Congestion on GT Road</td>
                <td>MEDIUM</td>
            </tr>

            <tr>
                <td>11:20 AM</td>
                <td>Signal Duration Updated</td>
                <td>LOW</td>
            </tr>

        </table>

    </div>
    

</div>
