@{
    ViewData["Title"] = "Traffic Prediction";
}

<h2>📈 Traffic Prediction Center</h2>

<div class="card">

    
    <div class="card-header bg-success text-white">

        Tomorrow Traffic Forecast

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th>Road</th>
                <th>Predicted Vehicles</th>
                <th>Forecast</th>
            </tr>

            <tr>
                <td>Murree Road</td>
                <td>950</td>
                <td>Critical</td>
            </tr>

            <tr>
                <td>GT Road</td>
                <td>850</td>
                <td>Heavy</td>
            </tr>

            <tr>
                <td>Islamabad Expressway</td>
                <td>720</td>
                <td>High</td>
            </tr>

        </table>

    </div>
    

</div>
