@{
    ViewData["Title"] = "Incidents";
}

<h2>⚠ Incident Management Center</h2>

<div class="card">

    
    <div class="card-header bg-warning">

        Active Incidents

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th>Incident</th>
                <th>Road</th>
                <th>Severity</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>Accident</td>
                <td>GT Road</td>
                <td>Critical</td>
                <td>Active</td>
            </tr>

            <tr>
                <td>Road Construction</td>
                <td>IJP Road</td>
                <td>Medium</td>
                <td>Ongoing</td>
            </tr>

            <tr>
                <td>Flooding</td>
                <td>Murree Road</td>
                <td>High</td>
                <td>Under Review</td>
            </tr>

        </table>

    </div>
    

</div>
