@{
    ViewData["Title"] = "Reports";
}

<h2>📄 Traffic Reports Center</h2>

<div class="mb-3">

    
    <button class="btn btn-danger">
        Export PDF
    </button>

    <button class="btn btn-success">
        Export Excel
    </button>

    <button class="btn btn-primary">
        Print Report
    </button>
    

</div>

<div class="card">

    
    <div class="card-header bg-dark text-white">

        Weekly Report

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th>Road</th>
                <th>Total Vehicles</th>
                <th>Emergencies</th>
            </tr>

            <tr>
                <td>Murree Road</td>
                <td>4500</td>
                <td>5</td>
            </tr>

            <tr>
                <td>GT Road</td>
                <td>3900</td>
                <td>3</td>
            </tr>

            <tr>
                <td>Islamabad Expressway</td>
                <td>3500</td>
                <td>2</td>
            </tr>

        </table>

    </div>
    

</div>
